@{
    ViewData["Title"] = "Home Page";
}
@model List<tl2_tp8_2025_NicoMore02.Models.Presupuestos>

<h2>Lista de Presupuestos</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Destinatario</th>
            <th>Fecha</th>
            <th>Productos</th>
            <th>Cantidad</th>
            <th>Total sin IVA</th>
            <th>Total con IVA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var presupuesto in Model)
        {
            <tr>
                <td>@presupuesto.idPresupuesto</td>
                <td>@presupuesto.NombreDestinatario</td>
                <td>@presupuesto.FechaCreacion.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (presupuesto.detalle.Any())
                    {
                        <ul class="list-unstyled">
                            @foreach (var detalle in presupuesto.detalle)
                            {
                                <li>@detalle.producto.descripcion</li>

                            }
                        </ul>
                    }
                    else
                    {
                        <span class="text-muted">Sin productos</span>
                    }
                </td>
                <td>@foreach (var detalle in presupuesto.detalle)
                    {
                        <ul>@detalle.cantidad</ul>
                    }               
                </td>
                <td>$@presupuesto.MontoPresupuesto()</td>
                <td>$@presupuesto.MontoPresupuestoConIva().ToString("N2")</td>
            </tr>
        }
    </tbody>
</table>
